.App {
  font-family: sans-serif;
  text-align: center;
}

.svg-path:hover {
  cursor: pointer;
}

.pick-county-btn {
  margin:6px;
  line-height: 3.0; 
  border-radius: 7px; 
  padding: 8px 14px; 
  white-space: pre;
  cursor: pointer;
}