.App {
  font-family: sans-serif;
  text-align: center;
}

.clickable-state-map-county-label {
  text-align: center;
}

/* *********************************** */
.map-part-border {
  stroke-width:'.17829';
  stroke: black;
}
.map-part-border:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 2;
  z-index: 6000;
}
.map-part-border.block-hover {
  cursor: default;
}
/* *********************************** */

.pick-region-div {
  text-align: center;
}
/* *********************************** */
.pick-region-btn {
  margin:6px;
  line-height: 1.0; 
  border-radius: 7px; 
  padding: 6px; 
  white-space: pre;
  cursor: pointer;
  background: #eee;
  display:inline-block;
}
.pick-region-btn.highlighted {
  background:#44e;
  color:white;
}
/* *********************************** */
.pick-region-btn-long-name {
  font-size: 8px;
  color: #555;
}
.highlighted .pick-region-btn-long-name {
  color: #fff;
}
/* *********************************** */


/* *********************************** */
.map-drilldown-back-btn:hover {
  border: black solid 1px;
}
.map-drilldown-back-btn {
  cursor: pointer;
  float:left;
  display:inline;
  border:none;
  border: #ddd solid 1px;
  background:#ddd;
  border-radius:3px;
  padding:3px 7px;
}
