.App {
  font-family: sans-serif;
  text-align: center;
}

.clickable-state-map-county-label {
  text-align: center;
}

.svg-path:hover {
  cursor: pointer;
}

.pick-region-div {
  text-align: center;
}

.pick-region-btn {
  margin:6px;
  line-height: 3.0; 
  border-radius: 7px; 
  padding: 8px 14px; 
  white-space: pre;
  cursor: pointer;
  background: #eee;
}

.pick-region-btn.highlighted {
  background:#44e;
  color:white;
}